@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-pink: #eb6f92;
  --custom-red: #ea6962;
  --custom-blue: #7daea3;
  --custom-border: #222222;
  --custom-hover: #080808;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-victor-mono: var(--font-victor-mono);
  --font-geist-pixel: var(--font-geist-pixel);
  --color-rose-pine: var(--custom-pink);
  --color-dark-cyan: var(--custom-blue);
  --color-coral-red: var(--custom-red);
  --color-border: var(--custom-border);
  --color-hover: var(--custom-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-victor-mono);
}
